doctype html
html
  head
    meta(charset="utf-8")
    title Edit Registration Form
    link(rel="stylesheet" href="/styles.css")
  body
    h1 Edit Registration Form

    form(method="POST" action=`/result/update/${item.id}`)
      div
        label(for="name") Name:
        input(type="text" name="name" value=item.name required)

      div
        label(for="classRoll") Class Roll:
        input(type="text" name="classRoll" value=item.classRoll required)

      div
        label(for="department") Department:
        input(type="text" name="department" value=item.department required)

      div
        label(for="year") Year:
        input(type="text" name="year" value=item.year required)

      div
        label(for="semester") Semester:
        input(type="text" name="semester" value=item.semester required)

      div
        label(for="address") Address:
        input(type="text" name="address" value=item.address required)

      button(type="submit") Update